.contenedor{
    --background: linear-gradient(135deg, #a0c4ff 0%, #e0f7ff 50%, #ffffff 100%);
}

ion-item{
    --ion-item-background: transparent;
}

ion-button{
    margin: 10px;
}

ion-input{
    margin-top: 10px;
}