.register-page {
  --background: linear-gradient(135deg, #a0c4ff 0%, #e0f7ff 50%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    
  
    .header {
      text-align: center;
      margin-top: 80px;
  
    //   .logo img {
    //     width: 80px;
    //     height: 80px;
    //   }
  
      h1 {
        margin-top: 5px;
        font-size: 40px;
        font-weight: 700;
        color: #5bc6da;
        letter-spacing: 2px;
      }
    }
  
    .form {
      width: 85%;
      max-width: 400px;
      --background: rgba(255, 255, 255, 0.8);
      padding: 30px 20px;
      border-radius: 15px;
      margin: auto;
      margin-top: 5px;
      // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    //   margin-top: -20px;

  
      .input-item {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        --background: transparent; /* Elimina el fondo del cuadro */
        --ion-item-background: transparent;
        --border-color: transparent; /* Elimina el borde */
      }
  
      .register-button {
        margin-top: 20px;
        background: linear-gradient(90deg, #4a90e2, #007aff);
        color: #fff;
        border-radius: 8px;
        font-weight: bold;
      }
  
      .login-text {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
  
        a {
          color: #007aff;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 600px) {
    .register-page .header .logo img {
      width: 60px;
      height: 60px;
    }
  
    .register-page .header h2 {
      font-size: 20px;
    }
  
    .register-page .form {
      width: 90%;
      padding: 20px 15px;
    }
  
    .register-page .form .input-item {
      font-size: 14px;
    }
  
    .register-page .form .register-button {
      font-size: 16px;
    }
  
    .register-page .form .login-text {
      font-size: 13px;
    }
  }
  