<ion-content class="register-page">
  <div class="header">
    <h1>REGISTRARSE</h1>
  </div>

  <div class="form">
    <ion-item class="input-item" lines="none">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Full Name" type="text"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input placeholder="Username / Email" type="email"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-input placeholder="Phone Number" type="tel"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-icon name="people-outline" slot="start"></ion-icon> <!-- Icono para el rol -->
      <!-- Select de Roles -->
      <ion-select placeholder="Seleccione su Rol">
        <ion-select-option value="estudiante">Estudiante</ion-select-option>
        <ion-select-option value="docente">Docente</ion-select-option>
        <ion-select-option value="investigador">Investigador</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="register-button">Sign Up</ion-button>

    <div class="login-text">
      <span>Already a Member? </span>
      <a [routerLink]="['/login']">Sign in</a>
    </div>
  </div>
</ion-content>

<!-- Agregar un footer con botones de navegación -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goForward()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

